.Modal {
    position: fixed;
    z-index: 1;
    background-color: #e2d8c582;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
  }
  .hideModal{
    display: none;
  }