.EmployeeList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:75%;
  margin-left: 25%;
}
.EmployeeList li,span,h4{
  margin: 0.5em;
}

.UserInfo{
    display:flex;
    border:1px solid #e0e0e0;
    margin:5px;
    padding:0.5rem;
    width:30%;
    min-height: 210px;    
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
}
  
.EmpHeading{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.Address{
  border-top: 1px solid #d8b5b5;
  padding-top: 1rem;
}

@media screen and (max-width: 640px) {
  .EmployeeList{
    width:100%;
    margin-left: 0;
  }
  .UserInfo{
    width: 100%
  }
}
@media screen and (min-width: 641px) and (max-width: 968px) {
  .EmployeeList{
    width:100%;
    margin-left: 0;
  }
  .UserInfo{
    width: 47%;
  }
}