.Container{
    display:flex;
  }
  .UserInfo{
    border:1px solid #ccc;
    width:50%;
    height:20%;
  }
  .UserAddress{
    border:1px solid #ccc;
    width:50%;
    height:20%;
  }
  .EmpHeading{
    text-align: center
  }